@import "tailwindcss";

@theme {
  --color-primary: #49A0C7;
  --color-secondary: #C2EEFF;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
